extends layout

block content
  main.main
    h1= title 
    div(class="appDescription")
      p Please confirm that you want to delete the following message.  
      p This action cannot be undone!
    div(class="messageContainer")
      h3(class="messageTitle span2")= message.title 
      p(class="messageText span2")= message.message
      p(class="messageAuthor")= message.author.name
      p(class="messageDate right-justify")= message.timeStampFormatted

    form(action="", method="post")
      div(class="formElement span2")
        button(type="submit", class="submitBtn") Confirm  

    if (errors)
      div(class="errorContainer") 
        p(class="errorMessage")!= errors